.rc-pull-container {
  position: relative;
}

.rc-pull-ptr {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 10;
  text-align: center;
  height: 40px;
  user-select: none;
}

.rc-pull-loading .rc-pull-content {
  transform: translate3d(0, 50px, 0);
}

.rc-pull-ptr-loading {
  display: none;
}

// .rc-pull-loading 是 定义在 container 上的样式
.rc-pull-loading {
  .rc-pull-ptr-loading {
    display: block;
  }
}

.rc-pull-content {
}

.rc-pull-loading,
.rc-pull-reset {
  .rc-pull-ptr {
    top: 0;
  }
  .rc-pull-ptr,
  .rc-pull-content {
    transition: all .25s ease;
  }
  .rc-pull-ptr-icon {
    display: none;
  }
}

.rc-pull-reset .rc-pull-content {
  transform: translate3d(0, 0, 0);
}
