{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-flow-comments", // 可以指定函数参数注解
    "transform-object-rest-spread", // 支持对象 rest 预发
    "transform-flow-strip-types", // 可以指定函数参数 类型
    "transform-class-properties" //解析类属性，静态和实例的属性
  ]
}
