<!doctype html>
<html>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1,user-scalable=no">
  <!-- eruda 调试模式-->
  <script>
    (function () {
      if (/eruda=true/.test(window.location.href) || sessionStorage.getItem('active-eruda') === 'true') {
        var src = '/eruda.min.js';
        var script = document.getElementsByTagName('script')[0];
        var js = document.createElement('script');
        js.src = src;
        js.async = true;
        js.onload = function () {
          eruda.init();
        };
        script.parentNode.insertBefore(js, script);
      }
    })();
  </script>
</head>
<body>
<div id="layout"></div>
</body>
</html>
