body {
  margin: 0;
}

a {
  color: #00C176;
  &:hover,
  &:focus,
  &:active {
    color: #88C100;
  }
}

.example {
  margin: 50px auto;
  width: 80%;
}

.example-list {
  > li {
    padding: 10px;
  }
}
